/* Differentiate inernal and external links. */
a[href*='//'] {
    color:#002bb8;
}

a:not([href*='//']) {
    color:violet;
}

a.internal.present {
}

/* Larger Title */
#wiki-wrapper.page #head {
    font-size: 15px;
}

#head h1 {
    font-size: 1.7em;
    padding: 20px 0;
    margin: 0 16px;
}

.markdown-body h3 {
    font-size: 1.2em;
}

#head ul.actions {
    margin: 0 16px;
}

#head ul.actions li {
    font-size: 0.75em;
}

/* list spacing */
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ul,
.markdown-body ol ol {
     margin: 0;
     padding-left: 0.8em;
}

/* Color inline code. */
.markdown-body code {
  color:#c7254e;
}

.markdown-body pre.highlight code {
    color: inherit;
}

/* fonts */
h1,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-family:'Linux Libertine','Georgia',' Times',serif;
}

h1,
.markdown-body h1,
.markdown-body h2 {
    font-weight:normal;
    font-size: 1.5em;
}

.markdown-body {
  font-family:"Helvetica Neue",Helvetica,'Nimbus Sans L',Arial,'Liberation Sans',sans-serif;
}

/* block quote */
.markdown-body blockquote {
  border-left-color:rgb(69, 130, 236);
}

/* media testing */
@media screen and (max-width: 600px) {
}

@media only screen and (max-width : 480px) {
    .minibutton .action-fileview {
      display:none;
    }
}

@media only screen and (max-width : 375px) {
    .minibutton .action-lastest-commits {
      display:none;
    }
}

/* Search bar */
#head #searchbar {
  width:98%;
  margin:1em 0;
  padding: 0 2px;
  display:table;
}

#head #searchbar #searchbar-fauxtext input#search-query {
    padding: 0 1.5em;
    width:100%;
}

#head #searchbar #searchbar-fauxtext #search-submit {
    display:none;
}

/* license lines. */
.page #footer {
    margin: 1em 0;
    border-top: 0;
}

.page #footer p#last-edit {
    margin: 1.5em 0 0 0;
    padding: 5px 1em;
    background-color: #eeeeee;
}

#footer ul.footer-info {
    padding: 2em 16px 1.5em 16px;
}

#footer ul li {
    line-height: 1.2;
    padding: 0 0 .7em;
    text-align:center;
    list-style:none;
}

/* Search page */
.results #results {
    border-bottom: 0;
    margin: 2em 1em;
}

/* toc */
.toc>ul {
    list-style-type: none;
}